<div class="banner-bottom">
    <div class="container">

        <div class="col-md-5 wthree_banner_bottom_left">
            <div class="video-img">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                </a>
            </div>
            <!-- pop-up-box -->
            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
            <!--//pop-up-box -->
            <div id="small-dialog" class="mfp-hide">
                <iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM"></iframe>
            </div>
            <script>
                $(document).ready(function() {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>
        </div>

        <div class="col-md-12 wthree_banner_bottom_right">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div class="review_grids">
                    <h5 style="text-align: center">Thông tin cá nhân</h5>
                    <form action="/users/edit" method="post">
                        {{#user}}
                        <input type="text" id="name" name="name" value="{{name}}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '{{name}}';}" required="required">
                        <input type="email" name="email" placeholder="Email" value="{{email}}" required="required">
                        {{/user}}
                        <div class="row">
                            <ol></ol>
                        </div>
                        <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5">Chỉnh sửa</button>
                    </form>
                    <div class="row">
                        <ol></ol>
                    </div>
                </div>
              </div>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>