<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <a href="/admin/product/listproduct" id="lstProduct">
                <button class="active btn btn-lg navbar-btn" style="background-color: #00b1b6">
                    <span style="color: white;">List Product</span>
                </button>
                <!--<li class="active"><a href="/admin/category/listcategory">List Category</a></li>-->
            </a>
            <a href="/admin/product/addproduct">

                <button class="btn btn-lg navbar-btn" style="background-color: #ff0072">

                    <span style="color: white;">Add Product</span></button>
            </a>
        </ul>
    </div>
</nav>
<div class="templatemo-content-container">
    <div class="templatemo-content-widget white-bg">
        <h2 class="margin-bottom-10">Products Image</h2>
        <p>Please tell me product's information</p>
        <input type="text" name="product_Name" value="{{productName}}" hidden>
        <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
        <script>
            var client = filestack.init('A8t6czWCDQtyM1YWnwumSz');
            function showPicker() {
                client.pick({
                    //Only accepting files with a mimetype 'image/*'
                    accept: 'image/png',
                    //Only accepting at most 1 file
                    maxFiles:1,
                    storeTo: {
                        location: 's3'
                    },
                    onFileSelected: function(file) {
                        file.name = Date.now()+'_'+'picture';
                        return file;
                    }
                }).then(function(result) {
                   // console.log(result);
                    console.log(result.filesUploaded);
                  //  console.log(result.filesUploaded[0].url);
                    $.ajax({
                        url: '/admin/product/addproduct/addimage/{{productName}}',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({dataFile: result.filesUploaded}),

                    }).done(function (res,textStatus) {
                        console.log(res);
                        // dang text la 'success' hoac 'error'
                        alert("Bạn đã thêm ảnh thành công");

                    location.reload();
                    }).fail(function (res,textStatus) {
                        console.log(res);
                        console.log(textStatus);

                    });
                });
            }
        </script>
        <input type="button" value="Chọn tệp" onclick="showPicker()" />

    </div>
</div>